*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
  }

  html{
    font-size: 62.5%;
  }

main{
    display: flex;
    justify-content: space-between;
  }

  a{
    color:black;
  }

.left-main{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    font-style: normal;
    line-height: 1.2;
    margin-left: 10px;
    padding: 12px;
  }

.left-main>.mid{
    position: absolute;
    bottom: 600px;
}
.left-main>.bottom{
    position: absolute;
    bottom: 10px;

}

.mid-main{
    width: 80vw;
    height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
  }


.pic{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    overflow: hidden;
}

.pic>img{
    width: 20%;
    height: auto;
    margin-right: 40px;
    margin-bottom:0;
    padding-bottom: 30px;
  }

.pic>.info{
    display: flex;
    flex-direction: column;
    font-family: "Neue Haas Grotesk", Icons;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 2.7rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
}

.desc{
    font-family: "Neue Haas Grotesk", Icons;
    font-style: normal;
    margin-top: auto; /* Ajoutez cette ligne pour pousser .desc vers le bas */
    font-weight: 400;
    font-size: 2.7rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);

}

@media only screen and (max-width: 768px) {
    main{
        flex-direction: column;
    }

    .left-main{
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .left-main > .mid,
    .left-main > .bottom{
        position: static;
        margin-top: 20px;
    }

    .mid-main{
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .pic{
        flex-direction: column;
        align-items: center;
    }

    .pic > img{
        width: 70%;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .desc{
        padding-top: 20px;
    }
}

/* Styles pour les écrans de bureau */
@media only screen and (min-width: 1024px) {
    /* Ajoutez ici les styles spécifiques aux écrans de bureau */
    main {
        flex-direction: row;
    }

    .left-main {
        width: 20vw;
    }

    .mid-main {
        width: 80vw;
    }

    .pic > img {
        width: 20%;
    }
}

/* Styles pour les écrans de tablette en orientation paysage */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Ajoutez ici les styles spécifiques aux écrans de tablette en orientation paysage */
    main {
        flex-direction: row;
    }

    .left-main {
        width: 30vw;
    }

    .mid-main {
        width: 70vw;
    }

    .pic > img {
        width: 25%;
    }
}

/* Styles pour les écrans de tablette en orientation portrait */
@media only screen and (max-width: 767px) {
    /* Ajoutez ici les styles spécifiques aux écrans de tablette en orientation portrait */
    main {
        flex-direction: column;
    }

    .left-main {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .left-main > .mid,
    .left-main > .bottom {
        position: static;
        margin-top: 20px;
    }

    .mid-main {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .pic {
        flex-direction: column;
        align-items: center;
    }

    .pic > img {
        width: 70%;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .desc {
        padding-top: 20px;
    }
}

/* Styles pour les écrans mobiles */
@media only screen and (max-width: 479px) {
    /* Ajoutez ici les styles spécifiques aux écrans mobiles */
    main {
        flex-direction: column;
    }

    .left-main {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .left-main > .mid,
    .left-main > .bottom {
        position: static;
        margin-top: 20px;
    }

    .mid-main {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .pic {
        flex-direction: column;
        align-items: center;
    }

    .pic > img {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .desc {
        padding-top: 20px;
    }
}
/* Styles pour le mode fenêtré */
@media (max-width: 1023px) {
    main {
        flex-direction: column;
    }

    .left-main {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .left-main > .mid,
    .left-main > .bottom {
        position: static;
        margin-top: 20px;
    }

    .mid-main {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .pic {
        flex-direction: column;
        align-items: center;
    }

    .pic > img {
        width: 70%;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .desc {
        padding-top: 20px;
    }
}

