body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-section {
  flex: 0 0 30%;
  background-color: #f2f2f2;
  padding: 20px;
}

.left-section h1 {
    font-family: "Neue Haas Grotesk", Icons;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 2.7rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
}

.right-section {
  flex: 1;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  height: 100%;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-right: 10px;
}

.carousel img:last-child {
  margin-right: 0;
}

.carousel img.active {
  display: block;
}

.info {
  padding: 20px;
  max-width: 80%;
}

.info h1 {
    font-family: "Neue Haas Grotesk", Icons;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 2.7rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
}

.left-section {
  position: relative;
}

.left-section .copyright {
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 12px;
}
