*{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-section {
  flex: 0 0 30%;
  background-color: #f2f2f2;
  padding: 20px;
}

.left-section h1 {
    font-family: "Neue Haas Grotesk", Icons;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 2.7rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
}

.left-section {
  position: relative;
}

.left-section .copyright {
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 12px;
}

.right-section {
  flex: 1;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 2Opx;
}

.carousel-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.carousel img:last-child {
  margin-right: 0;
}

.carousel img.active {
  display: block;
}

/* PARTIE INFORMATIONS */

.info {
  padding: 20px;
  max-width: 80%;
}

.info h1 {
    font-family: "Neue Haas Grotesk", Icons;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 2.7rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
}

/* PARTIE PROJETS */

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 60px; 
  padding: 20px;
  max-width: 100%;
  overflow-y: auto; 
  height: 100%; 
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project img {
  width: 100%; 
  max-height: 500px; 
  object-fit: cover; 
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}